<h2>
  Habit Setup
</h2>

<% if current_user && selected_user %>
  <table class="table">

    <tbody>
    <tr>
      <td colspan="0">
        <br>
        <h3 style="text-decoration: underline">Create New</h3>
      </td>
    </tr>

    <tr id="happeningTemplate-new">
      <%= simple_form_for selected_user.dup.happening_templates.build do |f| %>
        <%#= f.hidden_field :selected_user %>
        <td><%= f.input :name %></td>
        <td><%= f.select :kind, HappeningTemplate.kinds.keys %></td>
        <td><%= f.input :point_value %></td>
        <td><%= f.input :description, as: :text, input_html: { :rows => 5 } %></td>
        <td><%= f.input :show_success_button %></td>
        <td><%= f.input :show_pass_button %></td>
        <td><%= f.input :show_fail_button %></td>
        <td><%= f.input :allowed_entries_daily_count %></td>
        <td><%= f.submit 'Save' %>
      <% end %>
    </tr>



    <% @happening_templates.each do |template| %>
      <% if template.separator? %>
        <tr>
          <td colspan="0">
            <br>
            <h3 style="text-decoration: underline"><%= template.name %></h3>
          </td>
        </tr>
      <% end %>

      <tr id="happeningTemplate-#{template.id}">
        <%= simple_form_for template do |f| %>
          <td><%= f.input :name %></td>
          <td><%= f.select :kind, HappeningTemplate.kinds.keys %></td>
          <td><%= f.input :point_value %></td>
          <td><%= f.input :description, as: :text, input_html: { :rows => 5 } %></td>
          <td><%= f.input :show_success_button %></td>
          <td><%= f.input :show_pass_button %></td>
          <td><%= f.input :show_fail_button %></td>
          <td><%= f.input :allowed_entries_daily_count %></td>
          <td><%= f.submit 'Save' %>
        <% end %>
        <td>&nbsp; &nbsp; &nbsp; sort:</td>
        <td><%= button_to 'up', sort_higher_happening_template_path(template), method: :patch %></td>
        <td><%= button_to 'down', sort_down_happening_template_path(template), method: :patch %></td>
      </tr>
    <% end %>

    </tbody>
  </table>
<% end %>
