<nav>
  <ul>
    <% User.all.each do |user| %>
      <li>
        <%= button_to user.display_name, current_user_path, method: :patch, params: { id: user.id } %> <%= 'LOGGED IN' if current_user == user %>
      </li>
    <% end %>
  </ul>
</nav>

<% if current_user %>
  <header>
    <h2>
      <%= current_user.display_name %> <small>(<%= current_user.role %>)</small>
    </h2>
  </header>

  <% if current_user.child? %>
    <hr>
    <h3>Good Habit Score: <%= current_user.good_habit_score %></h3>
    <small>Keep this above 100 to unlock screentime</small>
    <% current_user.good_habits.order(:created_at).last(10) do |happening| %>
      <%= happening.description %>
      <%= happening.point_value %>
    <% end %>
  <% end %>
<% end %>
