<% if current_user && selected_user %>
  <% if selected_user.child? %>
    <section>
      <header>
        <h2>Habit Reporting</h2>
        <%= render 'happenings/habit_scores' %>
      </header>
      <br>

      <div class="row">
        <% selected_user.happening_templates.active.each do |template| %>

          <% if template.separator? %>
            <div class="col-12">
              <h3 style="text-decoration: underline"><%= template.name.titleize %></h3>
            </div>

          <% else %>
            <div class="col-sm-3">
              <div id="template_card-<%= template.id %>"
                   class="card mb-4 <%= "bg-secondary text-light" if !template.enable_card? %>">
                <div class="card-body">
                  <div class="card-title">
                    <span class="float-end">
                      <%= link_to "📊", happening_template_path(template), class: 'btn btn-info' %>
                    </span>
                    <h6><%= template.name %></h6>
                  </div>
                  <p class="card-text" style="white-space: pre-line;"><%= template.description %></p>

                  <!--                  Good Habit Buttons-->
                  <%= render 'habit_score_button', template: template,
                             event_kind: :good_habit_hit_score,
                             button_text_1: '😃', button_text_2: "hit", button_class: 'btn-success',
                             disabled_conditional: false %>

                  <%= render 'habit_score_button', template: template,
                             event_kind: :good_habit_miss_score,
                             button_text_1: '', button_text_2: 'miss', button_class: 'btn-warning',
                             disabled_conditional: current_user.child? %>

                  <%= render 'habit_score_button', template: template,
                             event_kind: :good_habit_pass_score,
                             button_text_1: '', button_text_2: 'pass', button_class: 'btn-warning',
                             disabled_conditional: current_user.child? %>

                  <%= render 'habit_score_button', template: template,
                             event_kind: :good_habit_fail_score,
                             button_text_1: '😕', button_text_2: 'fail', button_class: 'btn-danger',
                             disabled_conditional: false %>


                  <!--                  Bad Habit Buttons-->

                  <%= render 'habit_score_button', template: template,
                             event_kind: :bad_habit_avoid_score,
                             button_text_1: '😃', button_text_2: 'avoid', button_class: 'btn-success',
                             disabled_conditional: false %>

                  <%= render 'habit_score_button', template: template,
                             event_kind: :bad_habit_exception_score,
                             button_text_1: '', button_text_2: 'exception', button_class: 'btn-warning',
                             disabled_conditional: false %>

                  <%= render 'habit_score_button', template: template,
                             event_kind: :bad_habit_fail_score,
                             button_text_1: '😕', button_text_2: 'fail', button_class: 'btn-danger',
                             disabled_conditional: false %>

                  <% if template.streak_count && template.streak_count > 1 && false # TODO hiding this for now because it is broken %>
                    <p class="text-end mt-5">
                      <% case template.current_streak_kind %>
                      <% when :habit_success %>
                        <%= "Daily Success Streak!" %>
                        <span class="badge bg-success"><%= template.streak_count %></span>
                      <% when :habit_fail %>
                        <%= "Daily Fails Streak!" %>
                        <span class="badge bg-danger"><%= template.streak_count %></span>
                      <% end %>
                    </p>
                  <% end %>

                  <p class="text-end small">
                    last 14-days: <span class="badge bg-success"> <%= template.success_count_14_day %></span>
                    <span class="badge bg-danger"> <%= template.fail_count_14_day %></span>
                  </p>


                  <%# if Rails.env.development? %>
                  <!--                    <p>TEMPLATE <%#= template.id %></p>-->
                  <!--                    <p>HISTORY:-->
                  <%#=template.happenings.last(3).inspect %>
                  <!--                    </p>-->

                  <%# end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
