<nav>
  <ul>
    <% User.all.each do |user| %>
      <li>
        <%= button_to user.display_name, current_user_path, method: :patch, params: { id: user.id } %> <%= 'LOGGED IN' if current_user == user %>
      </li>
    <% end %>
  </ul>
</nav>

<% if current_user %>
  <header>
    <h2>
      <%= current_user.display_name %> <small>(<%= current_user.role %>)</small>
    </h2>
  </header>

  <% if current_user.child? %>
    <h2>Habit Score: <%= current_user.habit_score %></h2>
  <% end %>
<% end %>
