<nav>
  Pick current user:
  <ul>
    <% User.all.each do |user| %>
      <li>
        <%= button_to user.display_name, current_user_path, method: :patch, params: { id: user.id } %> <%= 'LOGGED IN' if current_user == user %>
      </li>
    <% end %>
  </ul>

  Dashboard for:
  <ul>
    <% User.all.each do |user| %>
      <li>
        <%= button_to user.display_name, selected_user_path, method: :patch, params: { id: user.id } %> <%= 'SELECTED' if selected_user == user %>
      </li>
    <% end %>
  </ul>
</nav>



<% if selected_user %>
  <header>
    <h2>
      <%= selected_user.display_name %> <small>(<%= selected_user.role %>)</small>
    </h2>
  </header>

  <% if selected_user.child? %>
    <hr>

    <h3>Habit Log</h3>
    <h4 style="display:inline">Score: <%= selected_user.good_habit_score %></h4>
    <small>(Keep this above 100 to unlock screentime)</small>
    <% selected_user.good_habits.order(:created_at).last(10).each do |happening| %>
      <div>
        <%= happening.description %> <%= happening.point_value > 0 ? "+" : '' %> <%= happening.point_value %>
        <small>(noticed by <%= happening.reporting_user&.display_name %>
          at <%= happening.created_at.to_formatted_s(:short) %>)</small>
      </div>
    <% end %>

    <hr>
    <h3>Good Habits</h3>
    <% selected_user.happening_templates.good_habit.active.each do |template| %>
      <%= button_to happenings_path, method: :post, params: { template_id: template,
                                                              selected_user_id: selected_user.id,
                                                              reporting_user_id: current_user.id } do %>
        <%= [template.description, template.point_value].join(' - ') %>
      <% end %>
    <% end %>

    <hr>
    <h3>Bad Habits</h3>
    <% selected_user.happening_templates.bad_habit.active.each do |template| %>
      <%= button_to happenings_path, method: :post, params: { template_id: template,
                                                              selected_user_id: selected_user.id,
                                                              reporting_user_id: current_user.id } do %>
        <%= [template.description, template.point_value].join(' - ') %>
      <% end %>
    <% end %>

  <% end %>
<% end %>
