<% if current_user && selected_user %>
  <% if selected_user.child? %>
    <section>
      <header>
        <h2>Habit Reporting</h2>
        <%= render 'happenings/habit_scores' %>
      </header>
      <br>

      <div class="row">
        <% selected_user.happening_templates.active.each do |template| %>

          <% if template.separator? %>
            <div class="col-12">
              <h3 style="text-decoration: underline"><%= template.name.titleize %></h3>
            </div>
          <% else %>
            <div class="col-sm-3">
              <div class="card mb-4 <%= "bg-secondary text-light" if !template.enable_card? %>">
                <div class="card-body">
                  <div class="card-title">
                    <span class="float-end">
                      <%= link_to "📊", happening_template_path(template), class: 'btn btn-info' %>
                    </span>
                    <h6><%= template.name %></h6>
                  </div>
                  <p class="card-text"><%= template.description %></p>

                  <% if template.show_success_button && template.enable_card? %>
                    <%= button_to happenings_path,
                                  method: :post,
                                  params: { template_id: template,
                                            selected_user_id: selected_user.id,
                                            reporting_user_id: current_user.id,
                                            event_kind: :habit_success },
                                  form_class: 'd-inline',
                                  class: 'btn btn-success d-inline' do %>
                      Success +<%= template.point_value %>
                    <% end %>
                  <% end %>

                  <% if template.show_pass_button && template.enable_card? %>
                    <% disabled = current_user.child? %>
                    <%= button_to happenings_path,
                                  method: :post,
                                  params: { template_id: template,
                                            selected_user_id: selected_user.id,
                                            reporting_user_id: current_user.id,
                                            event_kind: :habit_pass },
                                  disabled: disabled,
                                  form_class: 'd-inline',
                                  class: "btn #{disabled ? 'btn-outline-warning' : 'btn-warning'} d-inline " do %>
                      Skip
                    <% end %>
                  <% end %>

                  <% if template.show_fail_button && template.enable_card? %>
                    <%= button_to happenings_path,
                                  method: :post,
                                  params: { template_id: template,
                                            selected_user_id: selected_user.id,
                                            reporting_user_id: current_user.id,
                                            event_kind: :habit_fail },
                                  form_class: 'd-inline',
                                  class: "btn btn-danger d-inline" do %>
                      Fail -<%= template.point_value %>
                    <% end %>
                  <% end %>

                  <p class="text-end">
                    <% case template.current_streak_kind %>
                    <% when :habit_success %>
                      <br>
                      <%= "Daily Success Streak!" %>
                      <span class="badge bg-success"><%= template.streak_count %></span>
                    <% when :habit_fail %>
                      <br>
                      <%= "Daily Fails Streak!" %>
                      <span class="badge bg-danger"><%= template.streak_count %></span>
                    <% end %><br>
                  </p>

                  <p class="text-end small">
                    last 14-days: <span class="badge bg-success"> <%= template.success_count_14_day %></span> <span class="badge bg-danger"> <%= template.fail_count_14_day %></span>
                  </p>


                  <%# if Rails.env.development? %>
                  <!--                    <p>TEMPLATE <%#= template.id %></p>-->
                  <!--                    <p>HISTORY:-->
                  <%#=template.happenings.last(3).inspect %>
                  <!--                    </p>-->

                  <%# end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
