<header>
  <ul class="nav nav-pills">
    <li class="nav-item nav-link">Log in as:</li>
    <% User.all.each do |user| %>
      <li class="nav-item">
        <%= link_to user.display_name,
                    current_user_path(id: user.id),
                    method: :patch,
                    class: "nav-link #{ 'active' if current_user == user}" %>
      </li>
    <% end %>
  </ul>
  <hr>

  <ul class="nav nav-tabs">
    <li class="nav-item nav-link">Data for:</li>
    <% User.habits_enabled.each do |user| %>
      <li class="nav-item">
        <%= link_to user.display_name,
                    selected_user_path(id: user.id),
                    method: :patch,
                    class: "nav-link #{ 'active' if selected_user == user }" %>
      </li>
    <% end %>
  </ul>
  <p>
    <% if !current_user %>
      Identify yourself above
    <% end %>

    <% if !selected_user %>
      Select a user above to view that user's dashboard
    <% end %>
  </p>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to_unless_current 'Habits', home_index_path, class: "nav-link #{ 'active' if controller.is_a? HomeController }" %>
          </li>
          <li class="nav-item">
            <%= link_to_unless_current 'Habit Log index',
                        happenings_path,
                        class: "nav-link #{ 'active' if controller.is_a?(HappeningsController) && action_name == 'index'}" %>
          </li>
          <li class="nav-item">
            <%= link_to_unless_current 'Habit Grid Index',
                        grid_index_happenings_path,
                        class: "nav-link #{ 'active' if controller.is_a?(HappeningsController) && action_name == 'grid_index'}" %>
          </li>
          <li class="nav-item">
            <%= link_to_unless_current 'Habit Setup', happening_templates_path, class: "nav-link #{ 'active' if controller.is_a? HappeningTemplatesController }" %>
          </li>
        </ul>
    </div>
  </nav>
</header>

<br>
