<!DOCTYPE html>
<html>
  <head>
    <title>Famdash2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container <%= 'bg-warning' if selected_user&.display_name == "Max" %><%= 'bg-secondary' if selected_user&.display_name == "Sam" %>"
         style="margin-top: 1em;">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= render 'layouts/nav' %>
      <%= yield %>
      <footer>&nbsp;</footer>
    </div>
  </body>
</html>
